.project-page {
    transition: top 0.6s ease-in-out;
    background: var(--main-bg);
    z-index: 20;
    position: fixed;
    /* bottom: 0; */
    top: 150vh;
    bottom: auto;

    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    overflow-y: scroll;

    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    background: var(--main-bg);
    transition: top, bottom 0.5s ease-in-out;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; */

    /* display: flex; */
}

body {
    min-height: 100vh;
}

.project-page::-webkit-scrollbar {
    display: none;
}

.project-page-show {
    top: 0;
    /* opacity: 1; */
}

.project-page__close-button-container {
    display: flex;
    justify-content: flex-end;
}

.project-page__close-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: content-box;
    outline: none;
}

.project-page__close-button:focus {
    outline: none;
}

.project-page__close-button svg {
    max-width: 100%;
    max-height: 100%;
}

.project-page__close-button svg path {
    transition: stroke 0.1s;
}

.project-page__close-button:hover svg path,
.project-page__close-button:focus svg path {
    stroke: var(--secondary);
}

.project-page__close-button:active svg path {
    stroke: var(--primary);
}

.project-page__container {
    /* padding-top: 20vh; */

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

    height: 100%;
}

.project-page__image {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-page__image img {
    max-width: 100%;
    width: 100%;
}

.project-page__description {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.project-page__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-page__redirect-button {
    border: var(--white) 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.project-page__redirect-button:hover {
    border: var(--white) 1px solid;
    background-color: var(--selection-bg);
}

.project-page__redirect-button:active {
    border: var(--primary) 1px solid;
    background-color: var(--selection-bg);
}

.project-page__redirect-button:hover svg path {
    fill: var(--primary);
}

@media screen and (max-width: 768px) {
    .project-page__container {
        display: flex;
        flex-direction: column;
        padding-inline: 0 !important;
        margin-inline: 0 !important;
        max-width: calc(100vw) !important;

        max-height: 100vh;
        position: relative;
        top: 0;
        overflow-y: scroll;

        background-color: var(--main-bg);
        z-index: 21;
    }

    .project-page__close-button-container {
        margin-top: 100px;
    }

    .project-page__description {
        height: auto;
        padding-inline: 20px;
        padding-bottom: 100px;
        width: 100%;
        max-width: calc(100% - 40px);
        position: static;
        order: 1;
    }

    .project-page__image {
        order: 2;
        width: 100%;
        padding-bottom: 100px;
    }

    .project-page {
        min-height: 100dvh;
        max-height: auto;
    }

    .project-page-show {
    }
}
