.skills {
    overflow-x: hidden;
}

.skills__list {
    padding-block: 100px;
    width: 100%;
    overflow-y: visible !important;
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    cursor: grab;
}
.skills * {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skills__list:active {
    cursor: grabbing;
}

.skills__list::-webkit-scrollbar {
    display: none;
}

.skill-card {
    display: flex;
    flex-direction: column;

    position: relative;
}

.skill-card__button {
    height: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.2s ease-in-out;
    border: 1px #ffffff00 solid;
    border-radius: 8px;
}
.skill-card__visible {
    border: 1px var(--white) solid;
    background-color: var(--selection-bg);
}

.skill-card__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 70%;
    max-height: 70%;
    width: 100%;
    height: 100%;
}
.skill-card__tooltip {
    /* position: absolute; */
    bottom: -50px;
    left: 0;
    width: 100%;
    padding-block: 30px;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    /* padding: 10px; */

    display: flex;
    justify-content: center;
}
.tooltip__visible {
    opacity: 1;
}
